.main-footer {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 60px 20px;
  position: relative;
  top: 2050px;
  bottom: 0;
  height: auto; /* 🔥 remove altura fixa (quebra no mobile) */
  z-index: 10;
}

.footer-content-wrapper {
  margin: auto;
  display: flex;
  justify-content: left;
  gap: 40px;
  margin-inline: 20px;
  flex-wrap: wrap; /* 🔥 permite quebrar para baixo */
}

.footer-col {
  flex-basis: 30%;
  min-width: 250px; /* 🔥 não deixa quebrar feio */
}

.menu-title {
  position: relative;
  left: 15px;
}

.footer-menu {
  margin-left: 300px;
  flex-basis: 20%;
  min-width: 180px;
}

.link svg {
  position: relative;
  top: 3px;
}

.footer-info h3 {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--color-white);
  margin-top: 0;
  margin-bottom: 15px;
}

.footer-info p {
  font-size: 0.95em;
  line-height: 1.6;
  color: var(--color-text-description);
}

.footer-menu h4 {
  font-size: 1.1em;
  font-weight: 600;
  color: var(--color-white);
  margin-top: 0;
  margin-bottom: 20px;
}

.footer-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-menu li {
  margin-bottom: 10px;
  font-size: 0.95em;
}

.footer-menu a {
  color: var(--color-text-description);
  text-decoration: none;
  transition: color 0.3s;
  padding-left: 20px;
}

.footer-menu a:hover {
  color: var(--color-white);
}

.back-to-top {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 80px;
  right: 60px;
  border: 1px solid var(--color-white);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-decoration: none;
  transition: background-color 0.3s;
}

@media (max-width: 1324px) {
  .main-footer {
    position: relative;
    top: 2100px;
    bottom: 0;
    margin-top: 10px;
  }

  @media (max-width: 1045px) {
    .main-footer {
      position: relative;
      top: 2150px;
      bottom: 0;
    }
    .footer-menu{
      display: none;
    }
  } @media (max-width: 1025px) {
    .main-footer {
      position: relative;
      top: 2800px;
      bottom: 0;
      margin-top: 10px;
    }
  } @media (max-width: 788px) {
    .main-footer {
      position: relative;
      top: 2700px;
      bottom: 0;
    }
  }
  @media (max-width: 770px) {
    .main-footer {
      position: relative;
      top: 4100px;
      bottom: 0;
    }
  }
  @media (max-width: 480px) {
    .main-footer {
      position: relative;
      top: 4000px;
      bottom: 0;
    }
  }
  @media (max-width: 420px) {
    .main-footer {
      position: relative;
      top: 3900px;
      bottom: 0;
    }
  }
}
