.header {
  position: absolute;
  display: flex;
  z-index: 10;
  background: transparent;
  width: 100%;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  padding-inline: 50px;
}

.titulo {
  color: #ffc934;
  font: var(--font-1);
  font-style: bold;
}
.titulo .span {
  font-size: inherit;
  background: var(--color-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style-type: none;
  padding-inline: 35px;
}

nav ul li a {
  text-decoration: none;
  font: var(--font-2);
  font-style: Medium;
  color: var(--color-white);
  text-transform: capitalize;
}

nav ul li a svg {
  position: relative;
  top: 3px;
  right: 6px;
}

.menu-btn {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 22px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 9999;
}

.menu-btn span {
  width: 100%;
  height: 3px;
  background: #ffc934;
  border-radius: 10px;
  transition: 0.3s;
}


@media (max-width: 760px) {

  
  .menu-btn {
    display: flex;
  }
  
  header nav {
    position: fixed;
    top: 0;
    right: -100%;        
    width: 100%;        
    height: 100vh;
    background: var(--color-purple);
    padding-top: 80px;
    transition: 0.3s ease;
  
  }

 
  header nav.active {
    right: 0;
  }

  nav ul {
    flex-direction: column;
    width: 100%;
    gap: 25px;
    padding: 0;
    align-items: flex-start;
    padding-left: 30px;
  }

  nav ul li {
    padding: 0;
  }

  nav ul li a {
    display: block;
    width: 100%;
    font-size: 20px;
  }

 
  .menu-btn.active span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }
  .menu-btn.active span:nth-child(2) {
    opacity: 0;
  }
  .menu-btn.active span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }
}
