.img {
  width: 85%;
  background: url("../../assets/code-img.jpg") no-repeat left center;
  height: 350px;
  margin: auto;
  margin-top: 10px;
  border-radius: 8px;
}
.back-header {
  display: flex;
  
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;

  background: url("../../assets/background-hero.png") no-repeat top;
  height: 300px;
}
.container {
  display: flex;
  justify-content: center;
}
.image-container {
  z-index: 10;
  position: absolute;
  bottom: 55vh;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 340px;
}
.image-container p {
  width: 85%;
  margin: auto;
}
.image-container p a {
  text-decoration: none;
  color: white;
}

.title-container {
    z-index: 100;
    position: absolute;
    bottom: 480px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    width: 55%;
    max-height: 300px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 45px;
}
.title-container h1 {
font-size: 1.6rem;

}
div > span {
  margin-bottom: 20px;
  margin-right: 20px;
  text-align: left;
}
.marked {
  padding: 5px;
  text-transform: uppercase;
  border-radius: 4px;
  width: 115px;
  background-color: #7063f026;
  color: #7063f0;
}

h1 {
  margin-bottom: 20px;
}

.content {
  margin-top: 270px; 
  margin-bottom: 100px;
  height: auto;
}


.container-text {
  width: 75%;
  max-width: 800px;
  margin: auto;
  background: #fff;
  padding: 40px;

  border-radius: 6px;

  display: block;
}

h2 {
  margin-top: 40px;
  color: #222;
  display: block;
}

h3 {
  margin-top: 40px;
  color: #333;
}

p {
  line-height: 1.7;
  margin-bottom: 20px;
  display: block;
}

blockquote {
  border-left: 4px solid #ccc;
  padding-left: 20px;
  color: #555;
  margin: 20px 0 40px 0;
  line-height: 1.6;
  display: block;
}

ul {
  margin: 20px 0;
  padding-left: 30px;
  float: none;
}

ul li {
  margin-bottom: 10px;
  line-height: 1.6;
  display: list-item;
}

.share {
  width: 100%;
  border-top: 1px solid black;
  display: flex;
  flex-direction: column; /* MOBILE */
  gap: 12px;
  padding: 20px 0;
  margin-top: 20px;
}
footer {
  top: 10px;
}

.related-title {
color: #ffffff;
font-size: 35px;
margin-left: 140px;
font-weight: 700;
margin-bottom: 25px;
text-align: left;
}

.related-articles {
padding: 40px 0;
margin-top: 0;
width: 100%;
}


.relat.related-articles {
  padding: 40px 0;
}

.articles-grid {
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}


.article-card {
  background: #26243A;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
  transition: transform .2s ease;
  height: 250px;  
  display: flex;
  flex-direction: column;
}

.article-card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
}

.article-card .content1 {
  padding: 16px;
}


.article-card .category {
  display: block;
  font-size: 12px;
  color: #F2C94C;
  font-weight: 600;
  margin-bottom: 6px;
  letter-spacing: 0.4px;
}

.article-card h3 {
  font-size: 15px;
  margin-bottom: 6px;
  color: #fff;
  font-weight: 600;
  line-height: 1.3;
}

.article-card p {
  font-size: 12px;
  color: #bbb;
}

.main-footer {
  background-color: #1f1d2b; 
  color: #f0f0f0; 
  padding: 60px 20px;
  position: relative;
  top: 10px !important;
  bottom: 0;
}
.back-to-top {
  top: 480px !important;
  right: 20px !important;
}

.share {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-top: 20px;
}

.share ul {
  display: flex;
  justify-content: space-between;
  flex-direction: column; 
  gap: 12px;
  padding: 0;
  list-style: none;
}

@media (min-width: 768px) {
  .share {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .share ul {
    flex-direction: row;
    gap: 20px;
  }
}

@media (min-width: 480px) {
  .title-container h1 {
    font-size: 1.2rem;
  }

}
