@import url("./components/header.css");
@import url("./components/hero.css");
@import url("./components/main.css");
@import url("./components/section-article.css");
@import url("./components/footer.css");

* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

:root {
  --color-purple: #7063f0;
  --color-white: #fff;
  --color-yellow: #ffc934;
  --color-gradient: linear-gradient(135deg, #ffda34, #916a00);
  --font-1: 700 24px/150% "Roboto";
  --font-2:  14px/150% "Inter";
  --color-black: #1C162E;
  --color-text-description: #C4C4C4;
}




